* {margin: 0;padding: 0px;}
body {font-family: 'Lato';font-size: 13px;}
#header{background-color: #525252;}
#menu_head_right{float: right;}
#menu_dev{
    float: left;
    width: 100%;
    background-color: #df8e2f;
}
#menu_dev .btn{
    background-color: #6e781b;
}
#all_app{
    float: left;
    width: 100%;
}
#box_add_app,#box_add_lang{
    display: none;
    float: left;
    width: 100%;
}
.btn{
    background-color: gray;
    color: white;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}
.btn:hover{
    background-color: orange;
    color: black;
}

.frm{
    float: left;
    background-color: blanchedalmond;
}
.frm .frm-body{
    margin: 5px;
}
.frm .frm-line{
    width: 100%;
}

.frm .frm-line .inp{
    width:100%;
}

.box_app{
    background-color: rgb(61, 61, 61);
    color: white;
    width: 250px;
    margin: 3px;
    float: left;
    border-radius: 5px;
}

#box_lang{
    width: 200px;
    height: 200px;
    background-color: #5e9354;
    position: fixed;
    left: 50%;
    right: 50%;
    padding: 20px;
    display: none;
}

#box_lang .item_lang{
    width: 100%;
    float: left;
    display: block;
    cursor: pointer;
    background-color: #73a769;
    margin: 2px;
}