* {margin: 0;padding: 0px;}
body {font-family: 'Lato';font-size: 13px;}

.btn{
    background-color: gray;
    color: white;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}
.btn:hover{
    background-color: orange;
    color: black;
}

#header{background-color: #525252;}
#menu_head_right{float: right;}
#menu_head_right .btn{
    width: 80px;
    height: 50px;
    float: right;
    text-align: center;
    margin-top: 8px;
}
#menu_dev{
    float: left;
    width: 100%;
    background-color: #df8e2f;
}
#menu_dev .btn{
    background-color: #a94b2f;
}
#all_app{
    float: left;
    width: 100%;
}

.box_add{
    display: none;
    float: left;
    width: 100%;
}

.frm{
    float: left;
    background-color: blanchedalmond;
}
.frm .frm-body{
    margin: 5px;
}
.frm .frm-line{
    width: 100%;
}

.frm .frm-line .inp{
    width:100%;
}

.frm .frm-line.item_field{
    margin-bottom: 10px;
}

.frm .frm-line.item_field .btn{
    float: right;
}

#box_msg{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.61);
    display: none;
}

#box_msg_border{
    width: 200px;
    height: 200px;
    background-color: #5e9354;
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#box_msg_header{
    background-color: beige;
    float: left;
    width: 100%;
    text-align: center;
    height: 30px;
}

#btn_box_msg_close{
    float: right;
    position: relative;
    right: -2px;
    top: -42px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 0px;
    text-align: center;
    background-color: beige;
    color: black;
}

#btn_box_msg_close i{
    margin-top: 12px;
    font-size: 15px;
}

#box_msg_body{
    padding: 10px;
    float: left;
}

#box_msg_title{
    float: left;
    width: 100%;
    font-size: 15px;
    padding-top: 5px;
}

#box_msg_body .item_msg{
    width: 100%;
    float: left;
    display: block;
    cursor: pointer;
    background-color: #73a769;
    margin: 2px;
}

#box_msg_body .item_msg .item_icon{
    width: 20px;
}

.box_app{
    background-color: rgb(61, 61, 61);
    color: white;
    width: 150px;
    margin: 3px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    text-align: center;
}

.name_app{
    font-size: smaller;
}
